@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; font-family:"微软雅黑"; box-sizing:border-box;}
a{text-decoration:none; color:#CCC}
li{ list-style:none; }
input{ border:none; border-radius:5px; font-size:18px}

.top{ height:70px; width:100%; background-color:rgb(51,51,51);}/*头部内容*/
.logo{ height:70px; width:800px; text-align:center; float:left;background-color:rgb(51,51,51)}
.topright{ height:70px; width:800px; float:left; color:#ccc;background-color:rgb(51,51,51)}
.topright ul li{ margin-left:50px; line-height:70px; width:100px; height:70px; text-align:center; float:left; color:#CCC}
.topright ul li:hover{ background-color:#000;}
.bg{ height:300px; width:100%; background:url(../image/background1.jpg)}
.zixun1{ padding-left:365px; padding-top:120px; font-size:34px; color:white}
.zixun2{ padding-left:365px; font-size:20px; color:white}

.left{ height:1200px; width:900px;margin-left:320px; margin-top:30px; float:left}/*主体内容*/
.lefttop{ height:350px; width:900px; float:left;}
.leftbottom{ height:350px; width:900px; float:left; margin-top:20px}

.right{ height:1200px; width:340px; float:left; margin-top:30px; margin-left:15px}/*右边导航栏内容*/
.righttop{ height:340px; width:340px; border:1px solid #ccc}
.view{ width:338px; height:40px; line-height:40px; background:rgb(250,250,250); color:#666}
.jd{ padding-left:5px; font-size:20px}
.allview{ height:300px; width:338px}
.allview ul li{width:92px;height:34px;float:left;margin: auto 8px;margin-top:7px;background:rgb(238,238,238);color:#666;line-height:35px;text-align:center;}
.rightmiddle{ height:678px; width:340px; border:1px solid #CCC; margin-top:5px}
.hotplay{ height:638px; width:338px}
.hotplay ul li{width:150px;height:150px;float:left;margin-top:5px; margin-left:5px; text-align:center; color:#999}
.hotplay ul li img{ height:120px; width:150px}
.rightbottom{ height:150px; width:340px; border:1px solid #CCC; margin-top:5px}
.baibaoxiang{ height:110px; width:340px}
.baibaoxiang ul li{ width:150px;height:40px;float:left;margin-top:5px; margin-left:8px; background:rgb(238,238,238); color:#999}
.baibaoxiang ul li img{ padding-top:10px; padding-left:5px}
.chaxun{ margin-top:-27px; margin-left:30px} 
.faq{ height:280px; width:100%; background-color:rgb(34,34,34); margin-top:10px; clear:left; color:#CCC}/* 尾部内容开始*/
.faq0{ height:280px; width:1320px; margin-left:360px; margin-top:15px}
.faq1{ height:280px; width:410px; float:left; line-height:40px; font-size:18px; }
.xuxian{ border:1px dotted; color:#666}
.partner{ font-size:30px; line-height:50px}
.copyright{ height:80px; width:100%; float:left; background-color:#000; border-top:1px solid #666}
.cpr1{ font-size:18px; color:#999; line-height:80px; text-align:center}